<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Nirvana Fan Page</title>

<!-- CSS LINKS -->
<link href="../css/nirvana.css" rel="stylesheet" type="text/css">
<link href="../css/menu.css" rel="stylesheet" type="text/css">


	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="../engine0/style.css" />
	<script type="text/javascript" src="../engine0/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body>

<div id="head">
	<img src="../img/toplogo.png" width="121" height="80" alt="logoNirvana" class="floatleft"/> 
    <div id="menu" class="floatleft"> 
    	<div id="cssmenu" class="align-center">
            <ul>
               <li class="active"><a href="#"><span>NEWS</span></a></li>
               <li><a href="#"><span>TOURS</span></a></li>
               <li><a href="gallery.html"><span>GALLERY</span></a></li>
               <li><a href="video.html"><span>VIDEO</span></a></li>
               <li><a href="#"><span>MEDIA</span></a></li>
               <li class="last"><a href="merchandize.html"><span>MERCHANDIZE</span></a></li>
            </ul>
		</div>
    
    
    </div>
    <div id="audio" class="floatleft">
    	<p class="playinstruction">Just play Nirvana's most famous song: Smells Like Teen Spirit</p>
    	<audio controls>
			  <source src="../songs/SmellsLikeTeenSpirit.mp3" type="audio/mpeg">
			  Your browser does not support the audio tag.
			</audio>
    </div>
</div>

<div id="mainview">
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container0">
	<div class="ws_images"><ul>
		<li><img src="../data0/images/landing0.jpg" alt="" title="" id="wows0_0"/></li>
		<li><img src="../data0/images/landing1.jpg" alt="" title="" id="wows0_1"/></li>
		<li><img src="../data0/images/landing2.jpg" alt="" title="" id="wows0_2"/></li>
		<li><img src="../data0/images/landing3.jpg" alt="" title="" id="wows0_3"/></li>
		<li><img src="../data0/images/landing4.jpg" alt="" title="" id="wows0_4"/></li>
		<li><img src="../data0/images/landing5.jpg" alt="" title="" id="wows0_5"/></li>
		<li><img src="../data0/images/landing6.jpg" alt="" title="" id="wows0_6"/></li>
		<li><img src="../data0/images/landing7.jpg" alt="" title="" id="wows0_7"/></li>
		<li><a href="http://wowslider.com"><img src="../data0/images/landing8.jpg" alt="video slider" title="" id="wows0_8"/></a></li>
		<li><img src="../data0/images/landing9.jpg" alt="" title="" id="wows0_9"/></li>
	</ul></div>
	<div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">slider jquery</a> by WOWSlider.com v7.8m</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="../engine0/wowslider.js"></script>
	<script type="text/javascript" src="../engine0/script.js"></script>
	<!-- End WOWSlider.com BODY section --></div>

<div id="infoblock">
	<p>3 STUDIO ALBUMS</p>
    <a href="#" class="message">BLEACH, NEVERMIND &amp; IN UTERO</a>
    <p>LIVE ALBUMS ARE ALSO AVAILABLE</p>
    <div class="buylink">
   	  <a href="https://itunes.apple.com/us/artist/nirvana/id112018">Buy in iTunes store &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</a>
    </div>
</div>

<div id="socialmedia">
    <a href="https://www.facebook.com/Nirvana/" target="_blank"><img src="../img/socialicons/social_fb.jpg" width="44" height="47" alt=""/></a> 
    <a href="https://twitter.com/nirvana" target="_blank"><img src="../img/socialicons/social_tw.jpg" width="43" height="47" alt=""/></a>
    <a href="https://instagram.com/nirvana/" target="_blank"><img src="../img/socialicons/social_in.jpg" width="43" height="47" alt=""/></a>
    <a href="https://www.youtube.com/user/nirvana" target="_blank"><img src="../img/socialicons/social_yt.jpg" width="43" height="47" alt=""/></a>
    <a href="https://plus.google.com/111653282625908586704/posts" target="_blank"><img src="../img/socialicons/social_gg.jpg" width="43" height="47" alt=""/></a>
   <a href="https://www.tumblr.com/search/nirvana" target="_blank"> <img src="../img/socialicons/social_tb.jpg" width="43" height="47" alt=""/></a>
</div>

<div id="members">
	<h2 class="floatleft">BAND MEMBERS</h2>
    <a href="#" class="allmembers floatright">ALL MEMBERS</a>
</div>

<div id="member1">
	<img src="../img/members/kurtcobain.jpg" width="216" height="162" alt="" class="imagemember"/>
    <p class="memberinfo">LEAD VOCALS &amp; GUITAR</p>
    <a href="#" class="membername">KURT COBAIN</a>
    <p class="memberinfo">Founder and leader of the band. He was a famous singer and lead 
    the band to their glory. </p>
</div>

<div id="member2">
	<img src="../img/members/kristnovoselic.jpg" width="216" height="162" alt="" class="imagemember"/>
    <p class="memberinfo">BASS &amp; ACCORDION</p>
    <a href="#" class="membername">KRIST NOVOSELIC</a>
    <p class="memberinfo">He was the bassist and co-funder of the grunge band Nirvana.</p>
</div>

<div id="member3">
	<img src="../img/members/davegrohl.jpg" width="216" height="162" alt="" class="imagemember"/>
    <p class="memberinfo">DRUMS &amp; BACKING VOCALS</p>
    <a href="#" class="membername">DAVE GROHL</a>
    <p class="memberinfo">Singer-songwriter and producer of Nirvana, and founder of the rock band Foo Fighters.</p>
</div>

<div id="furtherinfo">
	<h2>FURTHER BAND INFORMATION</h2>
</div>

<div class="albumlist">
	<div class="smallheading">ALBUMS</div>
	<ul class="detailalbum list">
		<li><a href="https://itunes.apple.com/us/album/bleach-20th-anniversary-deluxe/id669728060" class="download">
		Bleach (1989)*</a></li>
		<li><a href="https://itunes.apple.com/us/album/nevermind/id485495703" class="download">
		Nevermind (1991)*</a></li>
		<li><a href="https://itunes.apple.com/us/album/in-utero-20th-anniversary/id706008781" class="download">
		In Utero (1993)*</a></li>
	</ul>
	<p class="notation">* Click on album name to get to iTunes download</p>
</div>

<div class="formermembers">
	<div class="smallheading">FORMER MEMBERS</div>
	<ul class="list">
		<li>Aaron Burckhard - drums</li>
		<li>Dale Crover - drums</li>
		<li>Dave Foster - drums</li>
		<li>Chad Channing - drums</li>
		<li>Jason Everman - guitar</li>
		<li>Dan Peters - drums</li>
	</ul>
</div>

<div class="furthermembers">
	<div class="smallheading">PART-TIME MEMBERS</div>
	<p class="memberheading">Touring members</p>
	<ul class="list">
		<li>John Duncan - guitar</li>
		<li>Pat Smear - guitar, backing vocals</li>
		<li>Lori Goldston - cello</li>
		<li>Melora Creager - cello</li>
	</ul>
	<hr class="hr"/>
	<p class="memberheading">Session members</p>
	<ul class="list">
		<li>Mark Pickerel - drums</li>
		<li>Dale Crover - drums</li>
		<li>Kirk Canning - cello</li>
		<li>Kera Schaley - cello</li>
	</ul>
</div>

<div class="bandshistory">
	<div class="smallheading">BAND'S HISTORY</div>
	<ul class="list historylist">
		<li>founded in 1987</li>
		<li>1988: Kurt smashes his first guitar</li>
		<li>June, 1989: Release of Bleach</li>
		<li>Brief England Tour (1990)</li>
		<li>Signing at DGC Records</li>
		<li>1991: Nevermind is released</li>
		<li>Six-week European Tour</li>
		<li>1992: Tour through Australia, Japan &amp; Hawaii</li>
		<li>1993: Release of In Utero</li>
		<li>Three-month North-America Tour</li>
		<li>8 April, 1994: Shotgun Suicide of Kurt Cobain</li>
		<li>2002: "You know you're right" is released. Last song
		Kurt, Krist and Dave ever recorded.</li>
		<li>2009: 20th Anniversary version of Nirvana's debut album is released.</li>
</div>

<div id="furtherinfo2">
</div>

<div class="awards">
	<div class="smallheading">AWARDS</div>
	<table class="tableaward">
		<tr>
			<th colspan="2">American Music Awards</th>
		</tr>
		<tr>
			<td class="year">1995:</td>
			<td>Favorite Heavy Metal/Hard Rock Artist</td>
		</tr>
		<tr>
			<th colspan="2">BRIT Awards</th>
		</tr>
		<tr>
			<td class="year">1993:</td>
			<td>Best International Newcomer</td>
		</tr>
		<tr>
			<th colspan="2">Grammy Awards</th>
		</tr>
		<tr>
			<td class="year">1996:</td>
			<td>Best Alternative Music Performance</td>
		</tr>
		<tr>
			<th colspan="2">MTV Music Awards</th>
		</tr>
		<tr>
			<td class="year">1992:</td>
			<td>Smells Like Teen Spirit: Best Alternative Video</td>
		</tr>
		<tr>
			<td class="year">1992:</td>
			<td>Smells Like Teen Spirit: Best Viewer's Choice</td>
		</tr>
		<tr>
			<td class="year">1993:</td>
			<td>In Bloom: Best Alternative Video</td>
		</tr>
		<tr>
			<td class="year">1994:</td>
			<td>Heart-Shaped Box: Video of the Year</td>
		</tr>
		<tr>
			<td class="year"></td>
			<td>Heart-Shaped Box: Best Alternative Video</td>
		</tr>
		<tr>
			<td class="year"></td>
			<td>Heart-Shaped Box: Best Art Direction in a Video</td>
		</tr>
		<tr>
			<th colspan="2">NME Awards</th>
		</tr>
		<tr>
			<td class="year">2008:</td>
			<td>MTV Unplugged in New York: Best Music DVD</td>
		</tr>
		<tr>
			<td class="year">2010:</td>
			<td>Live at Reading: Best DVD</td>
		</tr>
	</table>
</div>

<div id="newsletter">
	<div class="smallheading">SIGN UP FOR THE NEWSLETTER*</div>

	<div class="inputdata">
		<form>
			<table class="signuptable">
				<tr>
					<td><label for="name">Name:</label></td>
					<td><input type="text" name="name" id="name" placeholder="Your Name.."></td>
				</tr>
				<tr>
					<td><label for="birthday">Birth Date:</label></td>
					<td><input type="date" name="birthdate" id="birthdate"></td>
				</tr>
				<tr>
					<td><label for="postcode">Postcode:</label></td>
					<td><input pattern="[0-9]{5}" name="postcode" placeholder="Postcode.."></td>
				</tr>
				<tr>
					<td><label for="city">City:</label></td>
					<td><input type="text" name="city" id="city" placeholder="Your city.."></td>
				</tr>
				<tr>
					<td><label for="country">Country:</label></td>
					<td>
						<select name="country" id="country">
								<option selected disabled hidden value=""></option>
								<optgroup label="Europe">
									<option value="GER">Germany</option>
									<option value="FRA">France</option>
									<option value="SPA">Spain</option>
								</optgroup>
								<optgroup label="Asia">
									<option value="CH">China</option>
									<option value="JAP">Japan</option>
									<option value="KOR">South Korea</option>
								</optgroup>
								<optgroup label="America">
									<option value="USA">United States of America</option>
									<option value="CAN">Canada</option>
									<option value="MX">Mexico</option>
								</optgroup>
								<optgroup label="Africa">
									<option value="NAM">Namibia</option>
									<option value="ZA">Southern Africa</option>
									<option value="MRK">Marocco</option>
								</optgroup>
								<optgroup label="Australia">
									<option value="AUS">Australia</option>
								</optgroup>
						</select>
					</td>
				</tr>
				<tr>
					<td><label for="email">Email address:</label></td>
					<td><input type="text" name="email" id="email" placeholder="Your email address.."></td>
				</tr>
				<tr>
					<td colspan="2" class="checkbox">
						<input type="checkbox" name="agree" id="agree">
						<label for="checkbox" class="checkboxlabel">I agree to the <a href="#" class="terms">Terms and Conditions</a></label>
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit" id="submit"></td>
					<td><input type="submit" value="Reset" id="reset"></td>
				</tr>
				
			</table>
		</form>
	</div>
	<br/>
	<p class="notation">* You can unsubscribe from the newsletter at any time</p>
</div>

<div id="closinglabel">
	<h2 class="floatleft">BAND HOMEPAGE &amp; LINKS</h2>
	<img src="../img/nirvanalogo.png" alt="logo" class="floatright"/>
</div>

<div class="relatedlinks">
	<table class="linktable">
		<tr>
			<td><a href="http://www.nirvana.com/" target="blank" class="relatedlink">Band Homepage</a></td>
			<td><a href="https://en.wikipedia.org/wiki/Nirvana_(band)" target="blank" class="relatedlink">Wikipedia Page</td>
			<td><a href="https://en.wikipedia.org/wiki/List_of_Nirvana_concerts" target="blank" class="relatedlink">List of Concerts</td>
		</tr>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/List_of_awards_and_nominations_received_by_Nirvana" target="blank" 
			class="relatedlink">List of Awards</td>
			<td><a href="http://mentalfloss.com/article/57045/25-things-you-should-know-about-nirvana" target="blank" 
			class="relatedlink">25 interested facts</a></td>
			<td><a href="https://www.youtube.com/watch?v=hTWKbfoikeg" target="blank" class="relatedlink">Video of Smells Like Teen Spirit</a></td>
	</table>
</div>

<div id="finalinfo">
	<p class="lastinfo">&copy; Developed by Maximilian Ott (student number: 401837). 
	This version is only used for academic purposes.</p>
</div>



</body>



