<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Nirvana Fan Page</title>

<!-- CSS LINKS -->
<link href="../css/nirvana.css" rel="stylesheet" type="text/css">
<link href="../css/menu.css" rel="stylesheet" type="text/css">

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<link href="../css/lightbox.css" rel="stylesheet" type="text/css" >
<script src="../js/lightbox-2.6.min.js" type="text/javascript"></script>

</head>

<body>

<div id="head">
  <img src="../img/toplogo.png" width="121" height="80" alt="logoNirvana" class="floatleft"/> 
    <div id="menu" class="floatleft"> 
      <div id="cssmenu" class="align-center">
            <ul>
               <li><a href="index.html"><span>NEWS</span></a></li>
               <li><a href="#"><span>TOURS</span></a></li>
               <li><a href="gallery.html"><span>GALLERY</span></a></li>
               <li><a href="video.html"><span>VIDEO</span></a></li>
               <li><a href="#"><span>MEDIA</span></a></li>
               <li class="active" class="last"><a href="#"><span>MERCHANDIZE</span></a></li>
            </ul>
    </div>
    
    </div>
    <div id="audio" class="floatleft">
      <p class="playinstruction">Just play Nirvana's most famous song: Smells Like Teen Spirit</p>
      <audio controls>
        <source src="../songs/SmellsLikeTeenSpirit.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
    </div>
</div>

<div id="merchandizecontainer">
  <h2>MERCHANDIZE</h2>

  <div id="merch1">
    <a href="http://www.emp-online.com/art_317126/" target="blank"><img src="../img/merchandize/redshirt.jpg" width="200" height="250" alt="red merch shirt" class="merchfoto"/></a>
    <div class="linkmerchshop">
      <a href="http://www.emp-online.com/search/nirvana/" target="blank" class="linkmerch">Buy merchandize on EMP</a>
    </div>
  </div>

  <div id="merch2">
    <a href="http://www.hottopic.com/product/nirvana-kurt-cobain-face-poster/10416947.html#start=14" target="blank"><img src="../img/merchandize/poster.jpeg" width="200" height="250" alt="Nirvana poster" class="merchfoto"/></a>
    <div class="linkmerchshop">
      <a href="http://www.hottopic.com/band-merch/shop-by-artist/nirvana/" target="blank" class="linkmerch">Buy merchandize on hottopic</a>
    </div>
  </div>

  <div id="merch3">
    <a href="http://www.rock.com/p/nirvana-jump-button" target="blank"><img src="../img/merchandize/button.jpg" width="200" height="250" alt="Nirvana button" class="merchfoto"/></a>
    <div class="linkmerchshop">
      <a href="http://www.rock.com/brand/nirvana" target="blank" class="linkmerch">Buy merchandize on rock</a>
    </div>
  </div>

  <div id="merch4">
    <a href="http://www.grindstore.com/products/nirvana-distressed-smiley-mug-269544.html" target="blank"><img src="../img/merchandize/cup.jpg" width="200" height="250" alt="Nirvana cup" class="merchfoto"/></a>
    <div class="linkmerchshop">
      <a href="http://www.grindstore.com/bands/nirvana/?page=2" target="blank" class="linkmerch">Buy merchandize on grindstore</a>
    </div>
  </div>

</div>



<div id="socialmedia">
    <a href="https://www.facebook.com/Nirvana/" target="_blank"><img src="../img/socialicons/social_fb.jpg" width="44" height="47" alt=""/></a> 
    <a href="https://twitter.com/nirvana" target="_blank"><img src="../img/socialicons/social_tw.jpg" width="43" height="47" alt=""/></a>
    <a href="https://instagram.com/nirvana/" target="_blank"><img src="../img/socialicons/social_in.jpg" width="43" height="47" alt=""/></a>
    <a href="https://www.youtube.com/user/nirvana" target="_blank"><img src="../img/socialicons/social_yt.jpg" width="43" height="47" alt=""/></a>
    <a href="https://plus.google.com/111653282625908586704/posts" target="_blank"><img src="../img/socialicons/social_gg.jpg" width="43" height="47" alt=""/></a>
   <a href="https://www.tumblr.com/search/nirvana" target="_blank"> <img src="../img/socialicons/social_tb.jpg" width="43" height="47" alt=""/></a>
</div>

<div id="finalinfogallery">
  <p class="lastinfo">&copy; Developed by Maximilian Ott (student number: 401837). 
  This version is only used for academic purposes.</p>
</div>

</body>
</html>
